language: python
python:
  - "2.7"
  - "3.7"
install:
  - pip install .
  - pip install flake8 pylint coveralls
  - python --version 2>&1 | grep -q "Python 2" && pip install mock || true
script:
- flake8 androidtv/ && pylint androidtv/ && coverage run --source androidtv setup.py test
after_success:
- coveralls
